*{
  margin: 0
}

html, body {
  background-color: #F4FEFE;
  padding: 0;
}


h1 {
  min-height:100%;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

h2 { 
  min-height:100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

p {
  min-height:100%;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 10px; 
}

#contenu{
  display: table;
  position: relative; 
  width: 100%;
  overflow: auto;
}

#piedDePage {
  position: absolute;
  bottom:0;
  display: block;
  margin-top: 10px;
  background:#CECECE;
  color: #475673;
  width:100%;
}

#piedDePageTDB {
  position: absolute;
  margin-top: 50px;
  background:#CECECE;
  color: #475673;
  width:100%;
}

#nbQuestions{

  margin-top: 10px;

}

/*

  Menu

*/
#menu {
  background: #f96e5b;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  line-height: 1;
  display: block;
  zoom: 1;
}
#menu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#menu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#menu.align-right ul li {
  float: right;
}
#menu.align-center ul {
  text-align: center;
}
#menu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  transition: color .25s;
  transition: color .25s;
  transition: color .25s;
  transition: color .25s;
  transition: color .25s;
}

#menu ul li a:hover {
  color: #475673;
}

#menu ul li a:hover:before {
  width: 100%;
}
#menu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #FFFFFF;
  opacity: .5;
}
#menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #475673;
  transition: width .25s;
  transition: width .25s;
  transition: width .25s;
  transition: width .25s;
  transition: width .25s;
}
#menu ul li.last > a:after,
#menu ul li:last-child > a:after {
  display: none;
}
#menu ul li.active a {
  color: #475673;
}
#menu ul li.active a:before {
  width: 100%;
}
#menu.align-right li.last > a:after,
#menu.align-right li:last-child > a:after {
  display: block;
}
#menu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #menu ul li {
    float: none;
    display: block;
  }
  #menu ul li a {
    width: 100%;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #menu ul li.last > a,
  #menu ul li:last-child > a {
    border: 0;
  }
  #menu ul li a:after {
    display: none;
  }
  #menu ul li a:before {
    display: none;
  }
}


/* Image page d'accueil */
#imagequiz {
  position: relative;
    width: 98%;
    float: left;
}

@media screen and (max-width: 768px) {
  #imagequiz {
    position: relative;
    width: 100%;
    float: top;
  }
  .contenuPageAccueil {
  flex-direction: column
    }
}


/* Boites flexibles */

.contenuPageAccueil {
  display: flex;
}

.box {
  flex: 1;
}

#examen{
  padding-left: 25px;
}



/*Image page Instructions */
#imageicon {
float: left;
padding: 5px 10px 10px 10px;
margin-right: 10px;
width: 15%;
}



/* Bouton accueil */ 

#bouton-accueil {
  border-radius: 5;
  border-radius: 5;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  background: #f96e5b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 20px;
  margin-botton: 15px;
 }

#bouton-accueil:hover {
  background: #fb998c;
  text-decoration: none;
}


/* Boutons du Tableau de bord */ 

#test .bouton {
  border-radius: 5;
  border-radius: 5;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  background: #f96e5b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 20px;
  margin-left: 25px;
 }

#test .bouton:hover {
  background: #fb998c;
  text-decoration: none;
}


#examen .bouton {
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  background: #f96e5b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  top: 0px;
 }

#examen .bouton:hover {
  background: #fb998c;
  text-decoration: none;
}

/* Bouton page Instructions */

.contenuPageInstructions .bouton {
  top: 40px;
}

/* Bouton */ 

.bouton {
  border-radius: 5;
  border-radius: 5;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  background: #f96e5b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 15px;
  margin-botton: 15px;
 }

.bouton:hover {
  background: #fb998c;
  text-decoration: none;
}



/*Test rapide Encadrement */
#test {
display: block;
background-color: #e7e7f8;
padding-top: 5px;
padding-bottom: 77px;
padding-left: 3px;
border-radius: 0px 10px 10px 0;
}




/* Contenu Accueil*/

.contenuPageAccueil h1 {
  margin-top: 30px;
    margin-bottom: 20px;
  color: #3687c6;
}

.contenuPageAccueil h2 {
  margin-top: 15px;
  color: #7b7979;
}

.contenuPageAccueil p {
  color: #888888;
}

@media screen and (max-width: 768px) {
.contenuPageAccueil h1 {
  margin-top: 30px;
  margin-left: 25px;
}

.contenuPageAccueil h2 {
  margin-left: 25px;
}

.contenuPageAccueil p {
  margin-left: 25px;
}
  
#bouton-accueil {
  margin-left: 25px;
}
}


/*Contenu Instruction*/
.contenuPageInstructions{
  display: block;
  float: left;
  padding-right: 35%;
}

@media screen and (max-width: 768px) {
  .contenuPage{
    padding-right: 70%;
   }
  
  .contenuPageInstructions{
  display: block;
  float: left;
  width: 100%;
  padding-bottom: 50px;
  }

.contenuPageInstructions .bouton{
  margin-left: 25px;
  left: 137px;
}

}


.contenuPageInstructions h1{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  color: #3687c6;
}

.contenuPageInstructions h2 {
  margin-top: 15px;
  color: #7b7979;
}

.contenuPageInstructions p {
  color: #888888;
}


/* Contenu Questions Test et Examen */

 .contenuPageQuestions{
  display: block;
  float: left;
  width: 100%;
  padding-bottom: 50px;
  }

.contenuPageQuestions h1{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  color: #3687c6;
}

.contenuPageQuestions h2 {
  margin-top: 15px;
  margin-left: 25px;
  color: #7b7979;
}

.contenuPageQuestions p {
  margin-bottom: 10px;
  color: #888888;
  
}

fieldset {
border-radius: 8px;
border-radius: 8px;
border-radius: 8px;
width: 63%;
margin-top: 10px;
margin-left: 25px;
margin-bottom: 20px;
border: none;
background-color: #e0edf7;
}

.contenuPageQuestions .bouton {
  margin-left: 25px;
}


/* Contenu Resultat */

.contenuPageResultat{
  display: block;
  float: left;
 }

.contenuPageResultat h1{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  color: #3687c6;
}

.contenuPageResultat h2 {
  margin-top: 15px;
  margin-left: 25px;
  color: #7b7979;
}

.contenuPageResultat p {
  margin-bottom: 10px;
  margin-left: 25px;
  color: #888888;
}

.contenuPageResultat .bouton {
  margin-left: 25px;
  }


/*Contenu Tableau de bord*/

.contenuPageTDB {
  /*display: block;*/
  float: left;
  /*padding-right: 10%;*/
  width: 65%;
}


.contenuPageTDB h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  color: #3687c6;
}

#test h2{
  margin-top: 30px;
  margin-left: 25px;
  color: #7b7979;
}

#examen h2{
  margin-top: 30px;
  color: #7b7979;
}

.contenuPageTDB p {
  color: #888888;
  margin-bottom: 10px;
    
}

#test p{
  margin-left: 25px;
}

label {
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

aside {
  display: block;
  background-color:#6C7B92;
  position: fixed;
  right: 0%;
  border-radius: 10px 0 0 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

aside p {
  color: #ffffff
}

aside h1 {
  color: #fb998c;
  margin-bottom: 10px;
  text-transform: uppercase;
}

aside h2 {
  color: #D6E0E9;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  aside {
    clear: both;
    position: inherit;
    bottom:-30px;
    border-radius: 10px 10px 10px 10px;
    width: 96%;
  }
}

.centrerfooter{
  text-align: center;
  padding-top: 3%;
  /*vertical-align: middle;*/
}


/*Checklist */
.a-form {
  list-style: none; 
  margin-left: 5px; 
  padding: 5px;}

.a-form input {
  display:inline-block; 
  margin-right: 1em;}

.a-form li{
	padding: 3px 10px;
}

/*     DEBUT FENETRE MODAL         */

.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/
}
.btn:hover {
  background: #357ebd;
}
.btn .btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}

.modal-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 10px; 
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  min-height:100%;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #3687c6;
}
.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}

/* FIN FENETRE MODAL */
